@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    background: #F5F5F5;
  color: #403937;
  font-family: Inter, Arial, Tahoma, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    max-width: 1190px;
    margin: auto;
    padding: 1rem;
}

.header-titles h2 {
  font-weight: 800;
  font-size: 3.2rem;
  color: var(--headings-color);
}

.subtitle {
  color: var(--headings-color);
  margin-top: 1rem;
}

.container.header.flex {
  flex-wrap: nowrap;
  margin: auto;
}

header .suitcases img {
  height: auto;
  margin: 0;
  width: auto;
}

header:after {
  background: rgba(248, 131, 65, 0.06);
  filter: blur(31.5px);
  width: 275px;
  height: 180px;
  content: "";
  position: absolute;
  right: 0px;
  top: 0;
}

header:before {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 170px;
  background: rgba(108, 239, 215, 0.09);
  filter: blur(31.5px);
  left: 0px;
  content: "";
}

header {
  margin-bottom: -2rem;
}

.header-titles {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.flex {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 5rem;
}


a {
  text-decoration: none;
}

div > a:hover  {
  text-decoration: none;
  text-decoration-color: none;
}

div.dropdown {
  padding: 20px;
  margin-right: 10px;
  float: left;
}

.btn {
  background: #F5F5F5 !important;
}

div.inline {
  display: inline-flex;
  width: 100%;
}

.header-titles h2 {
  font-weight: 800;
  font-size: 3.2rem;
  color: #403937;
}

div.container-suitcases {
  float: left;
}

img.suitcases {
  width: 596px;
  height: 634px;
  margin-bottom: 10px;
}

.accommodation__title {
  width: 449px;
  height: 42px;
  margin-top: 0px;
  margin-left: 70px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 130%;

  color: #403937;
}

/* Card-Home */
section.grid-container {
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  display: grid;
}

div.card {
  background: url(../assets/img/edificio.png);
  border-radius: 31px;
  width: 354px;
  height: 473px;
  margin-left: 50px;
  margin-top: 60px;
}

div.card:nth-child(1) {
  background: url(../assets/img/castle-ward-2.jpg)
}

a.btn-explorer{
  background: #f88745;
  border: 1px solid #f88745;
  margin-bottom: 10px;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

a.link__card {
  text-decoration: none;
}

p {
  margin-bottom: 0px !important;
}
div.card:nth-child(2) {
  background: url(../assets/img/hospedagens/ibis-styles-1.jpg);
}


.card__container {
  width: 354px;
  height: 201px;
  left: 159px;
  margin-top: 300px;

  background: #FFFFFF;
  border-radius: 31px;
}

.star__container {
  margin-left: 30px;
  margin-bottom: 10px;
}

span {
  margin: 20px 0px 0px 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

.fa-star {
  color: #E5BA20;
  margin-top: 10px;
}

p.star__container>em:last-child {
  color: #E2E2E2
}

h2.info-box__title {
  margin-left: 30px;
  font-family: 'Inter';
  font-size: 23px;
}

hr {
  width: 292px;
  height: 0px;
  margin-left: 18px;
  margin-top: 30px;

  border: 1px solid rgba(0, 0, 0, 0.07);
}

div.icon {
  width: 253px;
  height: 57px;
  margin-left: 30px;
  margin-top: 20px;
  color: #8D8686;
}

div.icon>p {
  height: 13px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
}

p.price {
  height: 30px;
  margin-right: 40px;
  margin-top: 10px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;

  display: flex;
  align-items: flex-end;

  color: #403937;
}

p.by-night {
  height: 14px;
  left: 399px;
  right: 954px;
  top: 1200px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 130%;

  color: #8D8686;
}

.bottom__space {
  margin-bottom: 100px;
}

@media (min-width: 1024px) and (max-width: 1120px) {
  div.container-logo {
    padding: 10px 0px 0px 140px;
    width: 620px;
  }

  h1.title {
    width: 240px;
    margin-left: 140px;
    margin-top: 150px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 130%;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  h4.subtitle {
    width: 240px;
    height: 52px;
    margin-left: 140px;
    margin-top: 22px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;

    font-stretch: 100;
  }

  img.suitcases {
    width: 450px;
    height: 560px;
    margin-bottom: 5px;
  }

  section.grid-container {
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    display: grid;
  }

  .accommodation__title {
    width: 449px;
    height: 42px;
    margin-top: 0px;
    margin-left: 170px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 130%;

    color: #403937;
  }
}

@media (min-width: 750px) and (max-width: 1023px) {
  div.container-logo {
    padding: 13px 0px 0px 100px;
    width: 620px;
  }

  h1.title {
    width: 200px;
    margin-left: 100px;
    margin-top: 150px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 130%;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  h4.subtitle {
    width: 200px;
    height: 52px;
    margin-left: 100px;
    margin-top: 22px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;

    font-stretch: 100;
  }

  img.suitcases {
    width: 400px;
    height: 500px;
    margin-bottom: 5px;
  }

  section.grid-container {
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    display: grid;
  }

  .accommodation__title {
    width: 449px;
    height: 42px;
    margin-top: 0px;
    margin-left: 120px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 130%;

    color: #403937;
  }

  div.card {
    background: url(../assets/img/edificio.png);
    border-radius: 31px;
    width: 300px;
    height: 473px;
    margin-left: 50px;
    margin-top: 60px;
  }

  .card__container {
    width: 300px;
    height: 201px;
    left: 159px;
    margin-top: 300px;

    background: #FFFFFF;
    border-radius: 31px;
  }
}

@media (min-width: 500px) and (max-width: 750px) {
  div.container-logo {
    padding: 13px 0px 0px 30px;
    width: 620px;
    /* height: 65px; */
  }

  a.item {
    color: #f98748;
    text-decoration: none;
    font-family: 'Inter';
    margin: 25px 10px 0px 50px;
    text-align: center;
    font-weight: 900;
  }

  h1.title {
    width: 200px;
    /* height: 124px; */
    margin-left: 30px;
    margin-top: 150px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 130%;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  h4.subtitle {
    width: 200px;
    height: 52px;
    margin-left: 30px;
    margin-top: 22px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;

    font-stretch: 100;
  }

  img.suitcases {
    width: 370px;
    height: 450px;
    margin-bottom: 5px;
  }

  section.grid-container {
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    /* display: grid; */
  }

  .accommodation__title {
    width: 449px;
    height: 42px;
    margin-top: 0px;
    margin-left: 60px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 130%;

    color: #403937;
  }

  div.card {
    background: url(../assets/img/edificio.png);
    border-radius: 31px;
    width: 300px;
    height: 473px;
    margin-left: 50px;
    margin-top: 60px;
  }

  .card__container {
    width: 300px;
    height: 201px;
    left: 159px;
    margin-top: 300px;

    background: #FFFFFF;
    border-radius: 31px;
    b
  }
}
